<div class="wrapper-grey">
      <div class="container">
        <h2>Cards <strong>inside</strong> .col</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4>
            <div class="card-white">
            <h3>Three</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
