<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <!-- <img src="css/images/ole.jpg" alt="avatar"> -->
      <h1>Add Tool</h1>
      <!-- <h2>co-founder @YourStartup</h2> -->
    </div>
  </div>
</div>

 <div class="container">

  <%= render 'components/form' %>
</div>
