.profile-header-wrapper {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
   filter: brightness(96%);
  opacity: 0.8;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d4d1b55b64421c6e90fa43052abcc80&auto=format&fit=crop&w=1351&q=80')
}

.profile-header-infos {
    padding: 20px 0;
}

.profile-header-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-header-container h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    background-image: url
}

.profile-header-container h2 {
    color: white;
    opacity: 0.4;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
    letter-spacing: -1px;
}
