.product {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 0.15s ease;
    margin: 10px 0;
    border-radius: 10px;
    background-color: white;
    color: #484e4f;
    opacity: 0.85;
  }

.product:hover {
    // background: #f7f7fa;
    cursor: pointer;
    box-shadow: 0 0 50px rgba(33,33,33,.2);
    opacity: 0.95;
}

.product-upvote {
    padding-right: 20px;
    text-align: center;
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.product-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.product-count {
    margin: 2px 0 0;
}

.product-image {
    border-radius: 10px;
    margin-right: 20px;
    width: 150px;
    height: 100px;
    background-size: cover !important;
    background-position: center;
}

.product-body {
    flex: 1 1 auto;
}

.product-body-right {
    flex: 1 1 auto;
    text-align: right;
}

.product-body-right p {
    font-weight: lighter;
    color: #484e4f;
    margin: 20px 0;
    font-size: 18px;
}


.product-body h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 15px 0;
    color: black;
}

.product-body p {
    font-weight: lighter;
    color: #484e4f;
    margin: 20px 0;
    font-size: 18px;
}

.product-controls a {
    padding: 0 20px;
    font-size: 17px;
    color: #484e4f;
    text-decoration: none
}

.product-controls a:hover {
    color: #ee555d;
}

.product-body .price {
    font-weight: lighter;
    color: green;
}


