<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,108,60,0.3) 100%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1540104941499-a04da4661926?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e651844187a7932adb3f6d550008ba4d&auto=format&fit=crop&w=1055&q=80');">
  <div class="banner-content">
    <h1>Tool-meisTer</h1>
    <p>Find tools in your neighborhood</p>

    <%= render "components/searchform" %>

  </div>
</div>
