<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,108,60,0.3) 100%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1458829549177-e9a8f3db5b14?ixlib=rb-0.3.5&s=714b860708c51a33baf4b80c806a8016&auto=format&fit=crop&w=2550&q=80');">
  <div class="banner-content">
    <h1>Tool-meisTer</h1>
    <p>helps you to find the tools you need in you neighborhood</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
