<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,108,60,0.3) 100%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1458829549177-e9a8f3db5b14?ixlib=rb-0.3.5&s=714b860708c51a33baf4b80c806a8016&auto=format&fit=crop&w=2550&q=80');">
  <div class="banner-content">
    <h1>Tool-meisTer</h1>
    <p>Find tools in your neighborhood</p>
    <div class="drop-city">
      <label for="sel1">Select Your City:</label>
      <select class="form-control" id="sel1">
        <option>Berlin</option>
        <option>Cologne</option>
        <option>Dusselforf</option>
        <option>Hamburg</option>
        <option>Munich</option>
      </select>
    </div>
    <div class="drop-tools">
      <label for="sel2">Select Your tool:</label>
      <select class="form-control" id="sel2">
        <option>Chainsaw</option>
        <option>Drill</option>
        <option>Hammer</option>
        <option>Screwdriver</option>
        <option>Other Tool</option>
      </select>
    </div>
    <a class="btn btn-primary btn-lg">Validate</a>
  </div>
</div>
