<div class="banner" style="background-image: url('https://picjumbo.com/wp-content/uploads/real-mens-tools_free_stock_photos_picjumbo_HNCK2697-2210x1473.jpg');">
  <div class="banner-content">
    <h1>Toolmeister</h1>
    <p>Find tools in your neighborhood</p>

    <%= render "components/searchform" %>

  </div>
</div>
