

// .main-container {
//   display: flex;
// }
// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
// }

// .grid {
//   display: grid;
//   grid-template-columns: 400px 1fr 1fr 1fr;
//   grid-template-rows: 25% 25% 25% 25%
// }

.banner1 {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  background-color: white;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
