.margin-top{
margin:10px -15px
}

.title{
  background-color: white;
  padding: 10px 15px;
  font-weight: lighter;
}

.section{
  width: 33%;
  display: inline-flex;
  justify-content: space-between;
}

.book-now{
  align-self: center;
  display: inline-flex;
  justify-content: center
}


