.margin-top{
margin:10px -15px
}

.margin-right-topbox{
  margin: 15px 15px
}

.margin-right{
  margin: 10px 10px
}

.title{
  background-color: white;
  padding: 10px 15px;
  font-weight: lighter;
}


.section1{
  display: flex;
  margin: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.book-now{
  align-self: center;
  display: inline-flex;
  justify-content: center
  }

.flex-map-show {
display: flex;
margin-top : 5px;
flex: 0 10%;
margin-left: 10px;
margin-right: 10px;
}


.map-show {
  width: 100%;
  height: 50vh;
  top: 0 !important;

}

.padding{
  padding: 15px;
}

.main-container {
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

.main-container-show {
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
}


.card-show {
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-position: center;
  position: relative;
}
.card-user {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 40px;
  border-radius: 50%;
}

.right-side {
  flex: 0 0 385px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 100px !important;
}






