.margin-top{
margin:10px -15px
}

.margin-right{
  margin: 10px 10px
}

.title{
  background-color: white;
  padding: 10px 15px;
  font-weight: lighter;
}

.section{
  width: 40%;
  display: inline-flex;
  justify-content: space-between;
}

.book-now{
  align-self: center;
  display: inline-flex;
  justify-content: center
  }

.flex-map-show {
display: flex;
margin-top : 5px;
flex: 0 10%;
margin-left: 10px;
margin-right: 10px;
}


.map-show {
  width: 100%;
  height: 50vh;
  top: 0 !important;

}

.padding{
  padding: 15px;
}
