<div>
<%= render "components/navbar"%>
</div>
<div>
<%= render "components/banner"%>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= "Driller, Kettensäge " * 10 %>
    </div>
  </div>
</div>
