
.btn-treehouse {
  color: #494944;
  padding: 5px 12px;
  width: 372px;
  height: 45px;
  border-radius: 4px;
  background: #fee034;
  font-weight: bold;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 0.8;
  background: #fee034;
  text-decoration: none;
  }

