.card {
  min-height: 400px;
  margin-top: 15px ;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-photo {
  flex: 0 0 300px;
  background-size: cover;
//   background-position: center;
//   height: 120px;
}

.card-content {
  flex: 1 0 auto;
  display:flex;
  justify-content:space-between;
  background-color: white;
}


.card-content h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 12px;
  font-weight: light;
}


.card-avatar {
  width: 40px;
  border-radius: 50%;
  padding: 1px;
  align-items: right;
}

.content-left {
  flex: 0 0 50%;
  padding-left: 5px;
}

.content-right {

}

.price {
  font-size: 13px;
  color: green;
  margin: 12.5px;
  font-weight: bold;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.price-show {
  color: green;
}

.tool-name {
  position: absolute;
  left: 10px;
  top: 10px;
}

.tool-description {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 12px;
}
